* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html, .maingrid {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    align-items: center;
    line-height: 1.5rem;
}

.page-heading-green {
    border: 1px solid black;
    width: 50%;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: lightgreen;
    padding: 10px;
}

.page-heading-home {
    border: 1px solid black;
    width: 50%;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color:cornflowerblue;
    padding: 10px;
    font-size: 2rem;

}

.page-heading-meat {
        border: 1px solid black;
        width: 50%;
        display: block;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color:lightcoral;
        padding: 10px;

    }

    .page-heading-sweet {
        border: 1px solid black;
        width: 50%;
        display: block;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color:lightsalmon;
        padding: 10px;
    }

h3 {
    font-weight: 900;
    font-size: 1.5rem;
    padding: 10px
    
}

ul {
    margin:0;
    padding:0;
}


ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 50px;
    margin-top: 30px;
  
}

ol li {
    padding-bottom: 1.5rem;
    text-decoration: none;
    max-width: 75%;
    margin:0 auto;
}

a {
    color: black;
}


.recipe-heading {
   border: 1px solid black;
   margin: 10px
}

figcaption {
    font-style: italic;
    font-weight: 800;
}

.maincap {
    font-style:normal
}

.tips {
    list-style-type: none;
}

.tipbox {
    background-color: rgb(247, 217, 180);
    width: 100%;
    padding: 10px
}

.ingredients {
    background-color:blanchedalmond;
    padding: 10px;
}

.instructions {
    
}

.footer {
    padding: 20px;
}

.mainimg {
    height: 200px
}

.mainli {
    width: auto;
    list-style: none;
    height: auto;
    padding-top: 30px
    
}

.maingrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    padding-top: 30px
}
